option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node dist/index.js"
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: /var/www/html/public

commands:
  01_install_dependencies:
    command: "npm ci --only=production"
    ignoreErrors: false
  02_build:
    command: "npm run build || true"
    ignoreErrors: true
