container_commands:
  01_npm_install:
    command: "npm ci --legacy-peer-deps"
    leader_only: true
  02_npm_build:
    command: "npm run build"
    leader_only: true
    env:
      NODE_ENV: production
  03_create_dist_check:
    command: "ls -la dist/ || echo 'dist folder not found'"
    leader_only: true
